h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    font-weight: 600;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
}
h1, .h1 {
    font-size: 1.75rem;
}
h2, .h2 {
    font-size: 1.5rem;
}
h3, .h3 {
    font-size: 1.125rem;
}
h4, .h4 {
    font-size: 1rem;
}
.container {
    @media (min-width: 1290px) {
        max-width: 1280px;
    }
    @media(max-width:992px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

    
