footer {
    background: #223A5E;
    color: rgba(255, 255, 255, .6);
    font-size: 15px;
    padding: 55px 0;
    
    @media(max-width:992px){
        padding: 32px 0 16px;
    }
}

.footer-menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 0 40px;
    font-weight: 500;
    
    @media(max-width:992px){
        flex-direction: column;
        margin: 0 0 32px;
    }
    
    li {
        margin: 0 50px 0 0;
        
        @media(max-width:992px){
            margin: 0 0 20px;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    a {
        color: #92B5D9;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 30px;
        
        &:hover {
            color: #fff;
        }
    }
}

.footer-social {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
    @media(max-width:992px){
        padding: 0;
        margin: 0 0 32px;
        justify-content: flex-start;
    }
    
    li {
        margin-left: 20px;
        
        @media(max-width:992px){
            &:first-child {
                margin-left: 0;
            }
        }
        
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            height: 30px;
            width: 30px;
            background: rgba(83, 136, 205, .4);
            
            &:hover {
                background: rgba(83, 136, 205, .8);
            }
        }
    }
}