header {
    padding: 30px 0;
    box-shadow: 0px 2px 40px #00000014;
    
    @media(max-width:992px){
        padding: 24px 0;
        box-shadow: 0px 2px 16px #223A5E14;
    }
    
    button {
        background: transparent;
        border: 0;
    }
    
    .logo img {
        max-height: 18px;
    }
}
.menu-toggle {
    display: block;
    position: relative;
    height: 20px;
    min-width: 30px;
    max-width: 30px;
    border-top: 2px solid #5388CD;
    border-bottom: 2px solid #5388CD;
    margin-right: 40px;
    padding: 0;
    
    @media(max-width:992px){
        height: 16px;
        min-width: 24px;
        max-width: 24px;
        margin-right: 24px;
    }
    
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -1px 0 0;
        height: 2px;
        background: #5388CD;
    }
}
.navbar {
    padding: 0;
    margin: 0 30px 0 auto;
    
    .navbar-nav {
        border-right: 1px solid #EAECF0;

        .nav-item {
            padding: 0 15px;

            &:last-child {
                padding-right: 30px;
            }
        }

        .nav-link {
            font-size: 16px;
            line-height: 30px;
            color: rgba(34, 58, 94, .8);
            text-transform: uppercase;
            padding: 0;
            
            &:hover {
                color: #E8415F;
            }
        }
    }
}

