.top-banner {
    background: #f2f3f5;
    padding: 20px 0;
    
    @media(max-width:992px){
        display: none;
    }
}
.title-block {
    padding: 42px 15px 36px;
    
    @media(max-width:992px){
        padding-top: 32px;
    }
    
    .small {
        font-size: 15px;
        line-height: 18px;
        margin: 0 -15px 25px;
    }
    
    h1 {
        margin: 0 0 15px;
        font-size: 48px;
        line-height: 60px;
        font-family: 'Fira Sans Condensed', sans-serif;
        
        @media(max-width:992px){
            font-size: 24px;
            line-height: 32px;
        }
    }
    
    em {
        font-size: 22px;
        line-height: 30px;
        
        @media(max-width:992px){
            font-size: 17px;
            line-height: 24px;
        }
    }
}
.questions {
    background: #f2f3f5;
    padding: 50px 0 40px;
    
    @media(max-width:992px){ 
        padding: 24px 0;
    }
    
    .questions-list {
        padding-left: 0;
        list-style-type: none;
        margin: 0;
        
        li {
            display: flex;
            margin: 0 0 16px;
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
            
            .num {
                display: block;
                margin: 0 10px 0 0;
                background: #5388CD;
                color: #f2f3f5;
                font-size: 14px;
                line-height: 20px;
                height: 20px;
                min-width: 20px;
                max-width: 20px;
                border-radius: 50% 0 50% 50%;
                text-align: center;
            }
        }
    }
    
    .question-title {
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: 1;
        background: #5388CD;
        border-radius: 2px 16px 16px 16px;
        font-size: 32px;
        line-height: 45px;
        color: #fff;
        padding: 14px 20px;
        margin: 0 0 -30px;
        font-weight: 500;
        
        @media(max-width:992px){
            font-size: 20px;
            line-height: 30px;
        }
    }
    
    .question-answer {
        position: relative;
        background: #fff;
        border-radius: 16px;
        padding: 50px 30px 20px;
        margin: 0 0 40px 30px;
        
        @media(max-width:992px){
            padding: 50px 16px 8px;
            margin: 0 0 30px 25px;
        }
        
        p:last-child {
            margin: 0
        }
        
        .share {
            position: absolute;
            top: auto;
            left: auto;
            bottom: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            border-radius: 4px;
            background: #98b8e1;
        }
    }
    
    .answers-bottom {
        padding-left: 30px;
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 18px;
        
        @media(max-width:992px){
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0;
        }
        
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0 0 0 auto;
            
            @media(max-width:992px){
                margin: 24px 0 0;
                width: 100%;
            }
            
            li {
                &.gray {
                    margin: 0 18px 0 0;
                    
                    @media(max-width:992px){
                        margin: 0 auto 0 0;
                    }
                    
                    img {
                        margin-right: 10px;
                    }
                }
                
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3px;
                    height: 20px;
                    width: 20px;
                    border-radius: 4px;
                    background: rgba(83, 136, 205, .6);
                    margin-left: 12px;
                    
                    img {
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

.tag-anons {
    border-top: 2px solid #5388CD;
    padding: 40px 0 10px;
    
    @media(max-width:992px){
        padding-top: 30px;
    }
    
    .block-title {
        color: #5388CD;
        text-transform: uppercase;
        font-size: 32px;
        line-height: 38px;
        margin: 0 0 42px;
        font-weight: 500;
        
        @media(max-width:992px){
            font-size: 24px;
            line-height: 30px;
            margin: 0 0 25px;
        }
    }
    
    img {
        margin: 0 0 15px;
        
        @media(max-width:992px){
            margin:  0 0 20px;
            width: 100%;
        }
    }
    
    p {
        font-size: 16px;
        line-height: 20px;
        
        @media(max-width:992px){
            line-height: 24px;
        }
        
        &.title {
            font-size: 26px;
            line-height: 30px;
            margin: 0 0 10px;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-weight: 500;
            
            @media(max-width:992px){ 
                font-size: 28px;
                line-height: 32px;
            }
            
            a {
                color: #000;
                
                &:hover {
                    color: #5388CD;
                }
            }
        }
    }
    .read-more {
        display: inline-block;
        padding: 10px 25px;
        border-radius: 4px;
        border: 2px solid rgba(83, 136, 205, .6);
        color: #5388CD;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 500;
        
        + hr {
            border-color: rgba(0, 0, 0, .1);
            margin: 32px 0;
        }
    }
}

.small-anons {
    border-top: 2px solid rgba(83, 136, 205, .3);
    padding: 40px 0;
    
    @media(max-width:992px){
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 0;
    }
    
    .block-title {
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        margin: 0 0 40px;
        font-weight: 500;
        
        @media(max-width:992px){
            font-size: 18px;
            line-height: 30px;
            margin: 0 0 27px;
        }
    }
    
    .item {
        display: flex;
        padding: 10px;
        margin: 0 -10px 20px;
        font-size: 16px;
        line-height: 20px;
        
        @media(max-width:992px){
            margin: 0 -24px 20px;
            padding: 10px 24px;
        }
        
        &.bg-blue {
            background: rgba(83, 136, 205, .06);
            
            @media(max-width:992px){
                .blue {
                    display: block;
                    font-size: 12px;
                    line-height: 1;
                    margin: 0 0 4px;
                    font-weight: 500;
                }
            }
        }
        
        .img {
            display: block;
            min-width: 180px;
            max-width: 180px;
            margin: 0 20px 0 0;
            
            @media(max-width:992px){
                min-width: 112px;
                max-width: 112px;
                margin: 0 16px 0 0;
            }
        }
        
        .blue {
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
            margin: 0 0 4px;
            font-weight: 700;
            
            @media(max-width:992px){
                display: none;
            }
        }
        
        .title {
            font-size: 25px;
            line-height: 30px;
            margin: 0 0 4px;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-weight: 500;
            
            @media(max-width:992px){
                font-size: 18px;
                line-height: 24px;
            }
            
            a {
                color: #000;
                
                &:hover {
                    color: #5388CD;
                }
            }
        }
    }
}