@import "custom";

body {
	margin: 0;
    padding:0;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:#000;
    font-size: 19px;
    line-height: 30px;
    
    @media(max-width:992px){
        font-size: 17px;
        line-height: 24px;
    }
}
a {
    color: #333;
    
    &:hover, &:focus {
        text-decoration: none;
        color: #333;
    }
}
a, button {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button, input, select, textarea {
    &:focus {
        outline: none;
    }
}
input {
    &[type="text"], &[type="password"], &[type="date"], &[type="email"], &[type="number"], &[type="search"] {
        outline: none;
        box-shadow: none;
    }
}
textarea {
    resize: none;
}
img {
    max-width: 100%;
}

.blue {
    color: #5388CD;
    font-weight: 500;
}
.gray {
    color: #a5a5a5;
}
.bg-gray {
    background: #f2f3f5;
}

/* Media */

@media (max-width: 1200px){

}
@media (max-width: 992px){

}
@media (max-width: 768px) {
    
}
@media (max-width: 576px) {
    
}

@import "header", "footer", "news";