<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card_page.title %>
</p>

<p>
  <strong>H1:</strong>
  <%= @card_page.h1 %>
</p>

<p>
  <strong>Body:</strong>
  <%= @card_page.body %>
</p>

<p>
  <strong>Cards:</strong>
  <%= @card_page.cards %>
</p>

<%= link_to 'Edit', edit_card_page_path(@card_page) %> |
<%= link_to 'Back', card_pages_path %>
