<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Medportal" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
